* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --wildColor: #f7146b;
  background-color: var(--wildColor);
  justify-content: flex-start;
  align-items: center;
}

img {
  margin-top: 10vh;
  width: 40vw;
}

.login-box {
  width: 60%;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 1rem;
  color: white;
  font-size: 4vw;
}

.logo,
.login-box,
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-box input {
  width: 125%;
  height: 1.5rem;
  border: none;
  background-color: var(--wildColor);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
}

.login-btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  color: var(--wildColor);
  background-color: white;
  border: none;
}
#email::placeholder {
  color: white;
}

#password::placeholder {
  color: white;
}

#email {
  margin: 10px;
}

.popupAlert {
  display: none;
}

.show-popup {
  top: 0;
  height: 7vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  
}

@media screen and (min-width: 768px) {
  img {
    width: 20vw;
  }
  h1 {
    font-size: 2vw;
  }
}
